.logout_button {
    font-size: 17px;
    font-weight: bolder;
    background-color: red;
    border-radius: 50rem !important;
    padding: 8px 20px;
    color: white;
    border-color: transparent;
    cursor: pointer;
    margin-left: 47%;
    margin-top: 20px;
}
.logout_button:hover{
    box-shadow: 4px 4px 5px grey;
}
.message{
        /* display: inline-block; */
        display:flex ;
        flex-direction: column;
        margin: auto;
        box-shadow: 1px 1px 4px grey;
        font-weight: bolder;
        width: 50%;
        height: 50%;
        text-align: center;
        padding: 20px;
}